absl-py==1.0.0
aiohttp==3.8.1
aiohttp-cors==0.7.0
aioredis==1.3.1
aiosignal==1.2.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.5
astunparse==1.6.3
async-timeout==4.0.2
attrs==21.4.0
autograd==1.4
backcall==0.2.0
beautifulsoup4==4.10.0
biopython==1.79
bleach==4.1.0
blessings==1.7
boto3==1.21.21
botocore==1.24.21
botorch==0.6.2
Bottleneck @ file:///tmp/build/80754af9/bottleneck_1607575130224/work
brotlipy==0.7.0
cachetools==5.0.0
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.12
click==8.0.4
cloudpickle @ file:///tmp/build/80754af9/cloudpickle_1632508026186/work
cma==2.7.0
colorama==0.4.4
colorful==0.5.4
config-file==0.12.0
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
Cython==0.29.28
debugpy==1.5.1
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
deepchem==2.6.1
defusedxml==0.7.1
Deprecated==1.2.13
design-bench==2.0.20
dm-tree==0.1.6
docker==5.0.3
entrypoints==0.4
etils==0.6.0
executing==0.8.3
fasteners==0.17.3
filelock==3.6.0
fire==0.4.0
flatbuffers==2.0
fonttools==4.30.0
frozenlist==1.3.0
future==0.18.2
gast @ file:///tmp/build/80754af9/gast_1637837472536/work
glfw==2.5.1
google==3.0.0
google-api-core==2.7.1
google-auth==2.6.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googleapis-common-protos==1.55.0
gpustat==0.6.0
gpytorch==1.6.0
greenlet @ file:///tmp/build/80754af9/greenlet_1628888132713/work
grpcio==1.43.0
gym==0.13.1
h5py==3.6.0
hiredis==2.0.0
huggingface-hub==0.4.0
idna==3.3
imageio==2.16.1
importlib-metadata==4.11.3
importlib-resources==5.8.0
ipdb==0.13.9
ipykernel==6.9.2
ipython==8.1.1
ipython-genutils==0.2.0
ipywidgets==7.7.0
jax==0.3.14
jaxlib==0.3.14+cuda11.cudnn82
jedi==0.18.1
Jinja2==3.0.3
jmespath==1.0.0
joblib @ file:///tmp/build/80754af9/joblib_1635411271373/work
jsonschema==4.4.0
jupyter==1.0.0
jupyter-client==7.1.2
jupyter-console==6.4.3
jupyter-core==4.9.2
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.1.0
keras==2.8.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.0
libclang==13.0.0
lmdb==1.3.0
lockfile==0.12.2
Markdown==3.3.6
MarkupSafe==2.1.1
matplotlib @ file:///tmp/build/80754af9/matplotlib-suite_1645455682260/work
matplotlib-inline==0.1.3
mistune==0.8.4
mkl-fft==1.3.1
mkl-random @ file:///tmp/build/80754af9/mkl_random_1626186066731/work
mkl-service==2.4.0
morphing-agents==1.5.1
msgpack==1.0.3
mujoco-py==2.0.2.13
multidict==6.0.2
multipledispatch==0.6.0
munkres==1.1.4
nbclient==0.5.13
nbconvert==6.4.4
nbformat==5.2.0
nest-asyncio==1.5.4
notebook==6.4.10
numexpr @ file:///tmp/build/80754af9/numexpr_1640689833592/work
numpy==1.22.3
nvidia-ml-py3==7.352.0
oauthlib==3.2.0
opencensus==0.8.0
opencensus-context==0.1.2
opt-einsum==3.3.0
packaging @ file:///tmp/build/80754af9/packaging_1637314298585/work
pandas==1.4.1
pandocfilters==1.5.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.1
prometheus-client==0.13.1
prompt-toolkit==3.0.28
protobuf==3.19.4
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
py-spy==0.3.11
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.19.1
pycosat==0.6.3
pycparser==2.21
pyglet==1.3.2
Pygments==2.11.2
pymoo==0.5.0
pyparsing==3.0.7
pyrsistent==0.18.1
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytz==2021.3
PyYAML==6.0
pyzmq==22.3.0
qtconsole==5.2.2
QtPy==2.0.1
ray==1.11.0
rdkit-pypi==2021.9.5.1
redis==4.1.4
regex==2022.3.15
reportlab==3.5.67
requests==2.27.1
requests-oauthlib==1.3.1
robel==0.1.2
rsa==4.8
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
s3transfer==0.5.2
sacremoses==0.0.49
scikit-learn @ file:///tmp/build/80754af9/scikit-learn_1642617106979/work
scikit-video==1.1.11
scipy @ file:///tmp/build/80754af9/scipy_1618855955483/work
seaborn==0.11.2
Send2Trash==1.8.0
six @ file:///tmp/build/80754af9/six_1644875935023/work
soupsieve==2.3.1
SQLAlchemy @ file:///tmp/build/80754af9/sqlalchemy_1638277513377/work
stack-data==0.2.0
tabulate==0.8.9
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.5
tensorflow==2.8.0
tensorflow-determinism==0.3.0
tensorflow-estimator==2.8.0
tensorflow-io-gcs-filesystem==0.24.0
tensorflow-probability @ file:///tmp/build/80754af9/tensorflow-probability_1633017132682/work
termcolor==1.1.0
terminado==0.13.3
testpath==0.6.0
tf-estimator-nightly==2.8.0.dev2021122109
threadpoolctl @ file:///Users/ktietz/demo/mc3/conda-bld/threadpoolctl_1629802263681/work
tokenizers==0.11.6
toml==0.10.2
torch==1.11.0
torch-tb-profiler==0.4.0
torchvision==0.12.0
tornado==6.1
tqdm==4.63.0
traitlets==5.1.1
transformers==4.17.0
transforms3d==0.3.1
typing_extensions @ file:///opt/conda/conda-bld/typing_extensions_1647553014482/work
urllib3==1.26.9
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.3.1
Werkzeug==2.0.3
widgetsnbextension==3.6.0
wrapt==1.14.0
yarl==1.7.2
zipp==3.7.0 
